$heading-font: 'Carter One', Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$subheading-font: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
$body-font: 'Montserrat', Verdana, Geneva, sans-serif;





body {
  min-height: 100vh;
  font-family: $body-font;


  .center {
    text-align: center;
  }
  header {
    h1 {
      font-family:  $heading-font;
      font-size: 4rem;
      text-align: center;
    }
    .subheading {
      font-family: $subheading-font;
      font-size: 1.4rem;
      text-align: center;
    }
    .small {
      font-size: 0.8rem
    }
  }
  main {
    .choice {
      a {
        text-decoration: none;
        padding: 1rem;
        border: 2px solid;
        border-radius: 1.1rem;
        &:hover {

        }
      }
    }

  }
}