
// red
$red: #DC042A;
$red-light-2: #F9B3BF;
$red-light-1: #EF5671;
$red-dark-1: #9C001C;
$red-dark-2: #42000C;

$red-secondary-1-0: #EB9304;
$red-secondary-1-1: #FFE4B7;
$red-secondary-1-2: #FFC15C;
$red-secondary-1-3: #A66700;
$red-secondary-1-4: #472C00;

$red-secondary-2-0: #590E9E;
$red-secondary-2-1: #C3A5DF;
$red-secondary-2-2: #7B46AC;
$red-secondary-2-3: #3D0670;
$red-secondary-2-4: #190130;

$red-complement-0: #3FCA04;
$red-complement-1: #C2F1AE;
$red-complement-2: #79DB4F;
$red-complement-3: #2B8F00;
$red-complement-4: #123D00;

//dark red
$red-dark-ink: $red-light-2;
$red-dark-heading-ink: $red;
$red-dark-background: $red-dark-2;
$red-dark-background-grad: linear-gradient( 185deg, $red-secondary-1-4, $red-dark-2, $red-secondary-2-4) ;
$red-dark-button-ink: $red-secondary-1-0;
$red-dark-button-background: $red-dark-2;
$red-dark-hover-ink: $red-secondary-1-0 ;
$red-dark-hover-background: $red-secondary-2-0;

//light red
$red-light-ink: $red-dark-1;
$red-light-background: $red-secondary-1-1;
$red-light-background-grad: linear-gradient( 185deg, $red-secondary-1-1, $red-light-2, $red-secondary-2-1) ;
$red-light-darker: $red-dark-2;

//orange
$orange: #FF6C00;
$orange-light-2: #FFE9D9;
$orange-light-1: #FFA767;
$orange-dark-1: #AA4800;
$orange-dark-2: #361700;

$orange-secondary-1-0: #1047A9;
$orange-secondary-1-1: #CEDAEE;
$orange-secondary-1-2: #5376B5;
$orange-secondary-1-3: #072D71;
$orange-secondary-1-4: #010D24;

$orange-secondary-2-0: #1DD300;
$orange-secondary-2-1: #D7F6D2;
$orange-secondary-2-2: #69D957;
$orange-secondary-2-3: #138C00;
$orange-secondary-2-4: #062D00;

$orange-complement-0: #009E8E;
$orange-complement-1: #C9ECE8;
$orange-complement-2: #45ABA1;
$orange-complement-3: #00695E;
$orange-complement-4: #00221E;
//dark orange
$orange-dark-heading-ink: $orange;
$orange-dark-ink: $orange-secondary-1-1;
$orange-dark-background: $orange-secondary-1-4;
$orange-dark-background-grad: linear-gradient( 170deg, $orange-secondary-1-4, $orange-dark-2);

$orange-dark-button-background: $orange-secondary-1-0;
$orange-dark-button-ink: $orange;
$orange-dark-button-hover-background: $orange-secondary-1-3;
$orange-dark-button-hover-ink: $orange;
//light orange

$orange-light-heading-ink: $orange-dark-2;
$orange-light-ink: $orange-secondary-1-4;
$orange-light-background: $orange-light-2;
$orange-light-background-grad: linear-gradient( 182deg, $orange-secondary-1-1, $orange-light-2, $orange-light-2 );

$orange-light-button-background: $orange;
$orange-light-button-ink: $orange-light-2;
$orange-light-button-hover-background: $orange;
$orange-light-button-hover-ink: $orange-secondary-1-0;

//yellow
$yellow: #FADE0A;
$yellow-light-2: #FFF6B5;
$yellow-light-1: #FFEB58;
$yellow-dark-1: #9F8C00;
$yellow-dark-2: #181500;

$yellow-secondary-1-0: #D80959;
$yellow-secondary-1-1: #F9B1CD;
$yellow-secondary-1-2: #E54F89;
$yellow-secondary-1-3: #8A0035;
$yellow-secondary-1-4: #140008;

$yellow-secondary-2-0: #0E6F9E;
$yellow-secondary-2-1: #ACD9EE;
$yellow-secondary-2-2: #4693B8;
$yellow-secondary-2-3: #054565;
$yellow-secondary-2-4: #000A0F;

$yellow-complement-0: #4D16AA;
$yellow-complement-1: #C8B1F0;
$yellow-complement-2: #794FC2;
$yellow-complement-3: #2E096D;
$yellow-complement-4: #060010;

//dark yellow
$yellow-dark-heading-ink: $yellow;
$yellow-dark-ink: $yellow-secondary-2-1;
$yellow-dark-background: $yellow-secondary-1-4;
$yellow-dark-background-grad: linear-gradient( 180deg, $yellow-secondary-2-4, $yellow-secondary-2-4,  $yellow-dark-2,  $yellow);

$yellow-dark-button-background: $yellow-secondary-2-0;
$yellow-dark-button-ink: $yellow;
$yellow-dark-button-hover-background: $yellow-secondary-2-3;
$yellow-dark-button-hover-ink: $yellow;
//light yellow

$yellow-light-heading-ink: $yellow-dark-2;
$yellow-light-ink: $yellow-secondary-1-4;
$yellow-light-background: $yellow-light-2;
$yellow-light-background-grad: linear-gradient( 180deg, $yellow-secondary-2-1,$yellow-secondary-1-1, $yellow-light-2, $yellow-light-2, $yellow-light-1 );

$yellow-light-button-background: $yellow;
$yellow-light-button-ink: $yellow-complement-0;
$yellow-light-button-hover-background: $yellow;
$yellow-light-button-hover-ink: $yellow-secondary-1-0;

//green

$green: #4AB944;
$green-light-2: #D7FCD5;
$green-light-1: #85E181;
$green-dark-1: #21851C;
$green-dark-2: #032D01;

$green-secondary-1-0: #425E99;
$green-secondary-1-1: #D7E2F9;
$green-secondary-1-2: #7D95CA;
$green-secondary-1-3: #20396E;
$green-secondary-1-4: #050F25;

$green-complement-0: #E25357;
$green-complement-1: #FFD7D8;
$green-complement-2: #FE9194;
$green-complement-3: #A32225;
$green-complement-4: #370103;

//dark green
$green-dark-ink: $green-secondary-1-1;
$green-dark-background: $green-dark-2 ;
$green-dark-background-grad: linear-gradient( 160deg, $green-dark-2, $green-dark-1);
$green-dark-ink-hover: $green;
$green-dark-background-hover: $green-secondary-1-0;

//light green
$green-light-ink: $green-secondary-1-3;
$green-light-white: #edf5e1;
$green-light-background: #5cdb95;
$green-light-background-grad: linear-gradient( 160deg, $green-light-background, $green-light-1);

//dark blue
//light blue

$dark-blue: #0a2540;
$light-blue: #00d4ff;

//purple
$purple: #3E0ECB;
$purple-light-2: #F5F3FB;
$purple-light-1: #7453D7;
$purple-dark-1: #210575;
$purple-dark-2: #0E0137;

$purple-secondary-1-0: #9FF300;
$purple-secondary-1-1: #FBFEF5;
$purple-secondary-1-2: #BCF64C;
$purple-secondary-1-3: #689E00;
$purple-secondary-1-4: #314B00;

$purple-secondary-2-0: #FF7600;
$purple-secondary-2-1: #FFFAF6;
$purple-secondary-2-2: #FFA04F;
$purple-secondary-2-3: #AA4F00;
$purple-secondary-2-4: #502500;

$purple-complement-0: #FFD500;
$purple-complement-1: #FFFEF6;
$purple-complement-2: #FFE24F;
$purple-complement-3: #AA8E00;
$purple-complement-4: #504300;

//dark purple
$dark-purple-ink: $purple-light-2;
$dark-purple-background: $purple-dark-2;
//$dark-purple-background: linear-gradient( to bottom, $purple-dark-2, $purple-secondary-2-3);
$dark-purple-dark: #0c0032;
$dark-purple-black: #282828;
//light purple
$light-purple-ink: $purple-dark-1;
$light-purple-background: linear-gradient( to bottom, $purple-light-2,$purple-complement-1);
$light-purple-button: $purple-dark-1;
$light-purple-button-ink: $purple-complement-2;
$light-purple-button-hover: $purple-secondary-2-2;
//8506A9



//** Themes **//
body {
  &.light {
    &.red {
      color: $red-light-ink;
      background: $red-light-background-grad;
      .choice a{
        color: $red-light-ink;
        border-color: $red-light-ink;
        &:hover{
          color: $red-light-background;
          background: $red-light-ink;
        }
      }
    }
    &.orange {
      color: $orange-light-ink;
      background: $orange-light-background-grad;
      h1, h2{
        color: $orange-light-heading-ink;
      }
      .choice a {
        color: $orange-light-button-ink;
        background: $orange-light-button-background;
        font-weight: 500;

        &:hover {
          color: $orange-light-button-hover-ink;
          background: $orange-light-button-hover-background;
        }
      }
    }
    &.yellow {
      color: $yellow-light-ink;
      background: $yellow-light-background-grad;
      h1, h2{
        color: $yellow-light-heading-ink;
      }
      .choice a {
        color: $yellow-light-button-ink;
        background: $yellow-light-button-background;
        font-weight: 500;

        &:hover {
          color: $yellow-light-button-hover-ink;
          background: $yellow-light-button-hover-background;
        }
      }
    }
    &.green {
      color: $green-light-ink;
      background: $green-light-background-grad;
      .choice a{
        color: $green-light-ink;
        background: $green-light-background;
        border-color: $green-light-ink;
        &:hover{
          color: $green-light-background;
          background: $green-light-ink;
        }
      }
    }
    &.blue{
      color: $dark-blue;
      background-color: $light-blue;
      .choice a{
        color: $dark-blue;
        border-color: $dark-blue;
        &:hover{
          background-color: $dark-blue;
          color: $light-blue;
          font-weight: 500;
        }
      }
    }
    &.purple {
      color: $light-purple-ink;
      background: $light-purple-background;
      .choice a{
        color: $light-purple-button-ink;
        background: $light-purple-button;
        &:hover{
          background: $light-purple-button-hover;
          color: $light-purple-button;

        }
      }
    }
  }

  //dark mode
  &.dark{
    &.red {
      color: $red-dark-ink;
      background: $red-dark-background-grad;
      h1, h2{
        color: $red-dark-heading-ink;
      }
      .choice a{
        color: $red-dark-button-ink;
        background: $red-dark-button-background;
        &:hover{
          color: $red-dark-hover-ink;
          background: $red-dark-hover-background;
          border-color: $red-dark-hover-background;

        }
      }
    }
    &.orange {
      color: $orange-dark-ink;
      background: $orange-dark-background-grad;
      h1, h2{
        color: $orange-dark-heading-ink;
      }
      .choice a{
        color: $orange-dark-button-ink;
        background: $orange-dark-button-background;
        font-weight: 600;
        &:hover{
          color: $orange-dark-button-hover-ink;
          background: $orange-dark-button-hover-background;
        }
      }
    }
    &.yellow {
      color: $yellow-dark-ink;
      background: $yellow-dark-background-grad;
      h1, h2{
        color: $yellow-dark-heading-ink;
      }
      .choice a {
        color: $yellow-dark-button-ink;
        background: $yellow-dark-button-background;
        font-weight: 500;

        &:hover {
          color: $yellow-dark-button-hover-ink;
          background: $yellow-dark-button-hover-background;
        }
      }
    }
    &.green {
      color: $green-dark-ink;
      background: $green-dark-background-grad;
      .choice a{
        color: $green-dark-ink;
        background: $green-dark-background;
        &:hover{
          color: $green-dark-background-hover;
          background: $green-dark-ink-hover;

        }
      }
    }
    &.blue {
      background-color: $dark-blue;
      color: $light-blue;
      .choice a{
        color: $light-blue;
        border-color: $light-blue;
        &:hover{
          background-color: $light-blue;
          color: $dark-blue;
          font-weight: 500;
        }
      }
    }
    &.purple {
      color: $dark-purple-ink;
      background: $dark-purple-background;
      .choice a{
        color: $dark-purple-ink;
        background: $dark-purple-dark;
        &:hover{
          color: $dark-purple-dark;
          background: $dark-purple-ink;

        }
      }
    }
  }
}