body.dark.red {
  color: #F9B3BF;
}
body.dark.red.grad {
  background: linear-gradient(185deg, #472C00, #42000C, #190130);
}
body.dark.red.no-grad {
  background: #42000C;
}
body.dark.red header button, body.dark.red header a {
  color: #EB9304;
  border-color: #EB9304;
  background: none;
}
body.dark.red header button.theme-button:hover, body.dark.red header a.theme-button:hover {
  color: #9C001C;
  background-color: #FFE4B7;
}
body.dark.red header button.color-button:hover, body.dark.red header a.color-button:hover {
  color: #FF6C00;
  background-color: #010D24;
  border-color: #FF6C00;
}
body.dark.red form button {
  color: #EB9304;
  border-color: #EB9304;
  background: #42000C;
}
body.dark.red form button:hover, body.dark.red a:hover {
  color: #EB9304;
  background: #7B46AC;
}
body.dark.orange {
  color: #CEDAEE;
}
body.dark.orange.grad {
  background: linear-gradient(170deg, #010D24, #361700);
}
body.dark.orange.no-grad {
  background: #010D24;
}
body.dark.orange header button, body.dark.orange header a {
  color: #FF6C00;
  border-color: #FF6C00;
  background: none;
}
body.dark.orange header button.color-button:hover, body.dark.orange header a.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.dark.orange form button {
  color: #EB9304;
  border-color: #EB9304;
  background: #1047A9;
}
body.dark.orange form button:hover, body.dark.orange a:hover {
  color: #EB9304;
  background: #072D71;
}
body.dark.yellow {
  color: #ACD9EE;
}
body.dark.yellow.grad {
  background: linear-gradient(180deg, #000A0F, #000A0F, #181500 80%, #FADE0A);
}
body.dark.yellow.no-grad {
  background: #000A0F;
}
body.dark.yellow header button {
  color: #FADE0A;
  border-color: #FADE0A;
  background: none;
}
body.dark.yellow header button.color-button:hover {
  color: #050F25;
  background-color: #4AB944;
  border-color: #050F25;
}
body.dark.yellow a, body.dark.yellow form button {
  color: #FADE0A;
  border-color: #FADE0A;
  background: #0E6F9E;
}
body.dark.yellow a:hover, body.dark.yellow form button:hover {
  color: #FADE0A;
  background: #054565;
}
body.dark.green {
  color: #ACD9EE;
}
body.dark.green.grad {
  background: linear-gradient(180deg, #000A0F, #000A0F, #181500 80%, #FADE0A);
}
body.dark.green.no-grad {
  background: #000A0F;
}
body.dark.green header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: #0E6F9E;
}
body.dark.green header button.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.dark.green a, body.dark.green form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #0E6F9E;
}
body.dark.green a:hover, body.dark.green form button:hover {
  color: #1047A9;
  background: #FF6C00;
}
body.dark.blue {
  color: #ACD9EE;
}
body.dark.blue.grad {
  background: linear-gradient(180deg, #000A0F, #000A0F, #181500 80%, #FADE0A);
}
body.dark.blue.no-grad {
  background: #000A0F;
}
body.dark.blue header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: #0E6F9E;
}
body.dark.blue header button.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.dark.blue a, body.dark.blue form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #0E6F9E;
}
body.dark.blue a:hover, body.dark.blue form button:hover {
  color: #1047A9;
  background: #FF6C00;
}
body.dark.purple {
  color: #ACD9EE;
}
body.dark.purple.grad {
  background: linear-gradient(180deg, #000A0F, #000A0F, #181500 80%, #FADE0A);
}
body.dark.purple.no-grad {
  background: #000A0F;
}
body.dark.purple header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: #0E6F9E;
}
body.dark.purple header button.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.dark.purple a, body.dark.purple form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #0E6F9E;
}
body.dark.purple a:hover, body.dark.purple form button:hover {
  color: #1047A9;
  background: #FF6C00;
}
body.light.red {
  color: #9C001C;
}
body.light.red.grad {
  background: linear-gradient(185deg, #FFE4B7, #F9B3BF, #C3A5DF);
}
body.light.red.no-grad {
  background: #FFE4B7;
}
body.light.red header button {
  color: #EB9304;
  border-color: #EB9304;
  background: none;
}
body.light.red header button.theme-button:hover {
  color: #F9B3BF;
  background-color: #42000C;
}
body.light.red header button.color-button:hover {
  color: #FF6C00;
  background-color: #FFE9D9;
  border-color: #FF6C00;
}
body.light.red a, body.light.red form button {
  color: #42000C;
  border-color: #42000C;
  background: none;
}
body.light.red a:hover, body.light.red form button:hover {
  color: #42000C;
  background: #590E9E;
}
body.light.orange {
  color: #010D24;
}
body.light.orange.grad {
  background: linear-gradient(182deg, #CEDAEE, #FFE9D9, #FFE9D9);
}
body.light.orange.no-grad {
  background: #FFE9D9;
}
body.light.orange header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: none;
}
body.light.orange header button.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.light.orange a, body.light.orange form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #FF6C00;
}
body.light.orange a:hover, body.light.orange form button:hover {
  color: #1047A9;
  background: #FF6C00;
}
body.light.yellow {
  color: #140008;
}
body.light.yellow.grad {
  background: linear-gradient(180deg, #ACD9EE, #F9B1CD, #FFF6B5, #FFF6B5, #FFEB58);
}
body.light.yellow.no-grad {
  background: #FFF6B5;
}
body.light.yellow header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: #0E6F9E;
}
body.light.yellow header button.color-button:hover {
  color: #4AB944;
  background-color: #050F25;
  border-color: #4AB944;
}
body.light.yellow a, body.light.yellow form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #0E6F9E;
}
body.light.yellow a:hover, body.light.yellow form button:hover {
  color: #1047A9;
  background: #FF6C00;
}
body.light.green {
  color: #ACD9EE;
}
body.light.green.grad {
  background: linear-gradient(180deg, #000A0F, #000A0F, #181500 80%, #FADE0A);
}
body.light.green.no-grad {
  background: #000A0F;
}
body.light.green header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: #0E6F9E;
}
body.light.green header button.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.light.green a, body.light.green form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #0E6F9E;
}
body.light.green a:hover, body.light.green form button:hover {
  color: #1047A9;
  background: #FF6C00;
}
body.light.blue {
  color: #ACD9EE;
}
body.light.blue.grad {
  background: linear-gradient(180deg, #000A0F, #000A0F, #181500 80%, #FADE0A);
}
body.light.blue.no-grad {
  background: #000A0F;
}
body.light.blue header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: #0E6F9E;
}
body.light.blue header button.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.light.blue a, body.light.blue form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #0E6F9E;
}
body.light.blue a:hover, body.light.blue form button:hover {
  color: #1047A9;
  background: #FF6C00;
}
body.light.purple {
  color: #ACD9EE;
}
body.light.purple.grad {
  background: linear-gradient(180deg, #000A0F, #000A0F, #181500 80%, #FADE0A);
}
body.light.purple.no-grad {
  background: #000A0F;
}
body.light.purple header button {
  color: #FFE9D9;
  border-color: #FFE9D9;
  background: #0E6F9E;
}
body.light.purple header button.color-button:hover {
  color: #140008;
  background-color: #FADE0A;
  border-color: #140008;
}
body.light.purple a, body.light.purple form button {
  color: #1047A9;
  border-color: #1047A9;
  background: #0E6F9E;
}
body.light.purple a:hover, body.light.purple form button:hover {
  color: #1047A9;
  background: #FF6C00;
}

/*# sourceMappingURL=theme.css.map */
